<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="keywords" content="云图, 词云, 分词, python, 爬虫">
    <meta name="description" content="云图搜索是一款在线搜索关键词, 然后生成词云图的专业网站">
    <title>云图搜索-构造你想要的词云图</title>
    {{ bootstrap.load_css() }}
    <link rel="icon" href=" {{url_for('static', filename='img/cloud.ico')}} "/>
    <link rel="stylesheet" href=" {{url_for('static', filename='css/fontawesomeCSS/all.css')}} "/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script defer src=" {{url_for('static', filename='fontawesomeJS/all.js')}} "></script>
</head>
<body>
    <div id="wrapper" class="h-100 text-center">
      <div class="h-100 container-fluid">
          <main class="h-75">
            {% block main %}
            {% endblock %}
          </main>
          <footer class="h-25 row align-items-center justify-content-center">
            {% block footer %}
            <ul id="mark" class="list-inline">
              <li class="">&copy;Copyright author@lifanxin</li>
              <li class="list-inline-item"><a href="https://github.com/lifanxin/yuntun/">github</a></li>
              <li class="list-inline-item"><a href="https://fontawesome.com/">fontawesome</a></li>
              <li class="list-inline-item"><a href="https://www.jianshu.com/u/f293c6100da5">我的简书</a></li>
              <li class="list-inline-item"><a href=" {{ url_for('support') }} ">打赏点赞</a></li>
            </ul>
            {% endblock %}
          </footer>
      </div>
    </div>
    {{ bootstrap.load_js() }}
    <script src=" {{url_for('static', filename='js/action.js')}} "></script>
</body>
</html>