{% extends 'base.html' %}

{% block main %}
<div class="h-100 row align-items-center justify-content-center">
    <div class="h-75 col-auto">
        <img id="img" class="h-auto w-auto" src="{{ url_for('static', filename='img/404.png') }}">
    </div>  
</div>
{% endblock %}

{% block footer %}
<ul id="mark" class="list-inline">
    <li class="">&copy;Copyright author@lifanxin</li>
    <li class="list-inline-item"><a href="#">github</a></li>
    <li class="list-inline-item"><a href="https://fontawesome.com/">fontawesome</a></li>
    <li class="list-inline-item"><a href="https://www.jianshu.com/u/f293c6100da5">我的简书</a></li>
    <li class="list-inline-item"><a href=" {{ url_for('index') }} ">回到主页</a></li>
</ul>
{% endblock %}