{% extends 'base.html' %}

{% block main %}
<div class="h-100">
  <div id="top_search" class="h-25 container-fluid row justify-content-center">
    <div class="input-group mt-4 h-25 w-25">
        {% set value =  request.args.get('keyword') %}
        {% if not value %}
          {% set value = '' %}
        {% endif %}
        <input type="text" value="{{ value }}" name="keyword" class="form-control" placeholder="云图...">
        <div class="input-group-append">
          <button type="button" class="btn">
            <span id="icon" class="fa fa-search"></span>
          </button>
        </div>
    </div>
  </div>
  <div class="h-75 row align-items-top justify-content-center">
    {% if name == 'code_503' %}
      {% set url = url_for('static', filename='img/nothing.png') %}
    {% else %}
      {% set url = url_for('test', name=name) %}
    {% endif %}
    <img id="img" class="h-auto w-auto" src=" {{ url }} ">
  </div>
</div>
{% endblock %}