[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
flake8 = "*"
watchdog = "*"

[packages]
bootstrap-flask = "*"
flask = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
jieba = "*"
wordcloud = "*"
matplotlib = "*"
lxml = "*"
scipy = "*"

[requires]
python_version = "3.6"
